body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;

}

.container {
    display: flex;
    height:100vh; /* memakai seluruh tinggi yang tampil di layar */
    flex-direction:column; /* Agar flex-grow dapat memakai seluruh ruang tersisa */
    background-color: beige;
}

@media only screen and (min-width: 768px) {
    .page {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    max-width:51%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1
{
    font-size: 2em;
    color: darkred;
}

h2
{
    font-size: 1.2em;
    color: brown;
}

a {
    text-decoration: none;
}

p {
    margin: 0.5em;
}

.lingkaran {
    background-image: url("../img/meizano.jpg");
    display: inline-block;
    border-radius:50%;
    width: 128px;
    height: 128px;
    background-color: darkred;
    margin: 1em;
}

.nav {
    position: fixed;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-left: auto;
    padding-bottom: auto;
}

.nav-menu {

    max-width: 50%;
    display: inline-block;
}
div.nav li {
    display: inline-block;
}

.page {
    display: none;
    background-color: #FFF;
    flex-grow: 1; /* Memakai seluruh ruang tersisa */
}

.footer {
    flex: 0 1 content; /* selalu menyediakan ruang di paling bawah */
    background-color: darkred;
    color:white;
    text-align: center;
}
