body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 24px;
    box-sizing: border-box;

}
h1 {
    background-color: aqua;
}
p {
    background-color: aqua;
}

.container {
    display: flex;
    height:100vh; /* memakai seluruh tinggi yang tampil di layar */
    flex-direction:column; /* Agar flex-grow dapat memakai seluruh ruang tersisa */
    background-color: beige;
}

.nav {
    position: fixed;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-left: auto;
    padding-bottom: auto;
}

.title {
    color: white;
    font-size: 1.5em;
    max-width:50%;
    display: inline-block;



}
div.nav li {
    display: inline-block;
}

.nav-menu {

    max-width: 50%;
    display: inline-block;
}

a {
    color:white;
    text-decoration: none;
}

.page {
    display: none;
    background-color: #FFF;
    flex-grow: 1; /* Memakai seluruh ruang tersisa */
}
h1
{
    font-size: 1.2em;
    color: darkblue;
}


.footer {
    flex: 0 1 content; /* selalu menyediakan ruang di paling bawah */
    background-color: darkred;
    color:white;
}

.lingkaran {
    display: inline-block;
    border-radius:50%;
    width: 3em;
    height: 3em;
    background-color: #FF0;
}
#nav {

}
